.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}

.product {
  font-weight: bold;
}

img {
  width: 200px;
  height: 200px;
}
